* {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html,
body {
  min-width: 32rem;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  margin: 0;
  font-size: 1.4rem;
  color: var(--black);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  background-color: transparent;
  cursor: pointer;
}
